<div>
  <mat-toolbar color="primary">
    <span i18n="@@itbit">Itbit</span>
    <span class="currPair">{{ currPair }}</span>
    <span class="example-fill-remaining-space"></span>
    <span class="back-button"
      ><button mat-flat-button color="primary" (click)="back()" i18n="@@back">
        Back
      </button></span
    >
  </mat-toolbar>
  <div>
    <table>
      <tbody>
        <tr>
          <td i18n="@@last">Last:</td>
          <td id="lastPrice">{{ currQuote?.lastPrice | number : "1.2" }}</td>
          <td i18n="@@high">High:</td>
          <td id="high24h">{{ currQuote?.high24h | number : "1.2" }}</td>
          <td i18n="@@low">Low:</td>
          <td id="low24h">{{ currQuote?.low24h | number : "1.2" }}</td>
        </tr>
        <tr>
          <td i18n="@@bid">Bid:</td>
          <td id="bid">{{ currQuote?.bid | number : "1.2" }}</td>
          <td i18n="@@ask">Ask:</td>
          <td id="ask">{{ currQuote?.ask | number : "1.2" }}</td>
          <td i18n="@@open">Open:</td>
          <td id="openToday">{{ currQuote?.openToday | number : "1.2" }}</td>
        </tr>
        <tr>
          <td i18n="@@vwap">Vwap:</td>
          <td id="vwap24h">{{ currQuote?.vwap24h | number : "1.2" }}</td>
          <td i18n="@@pair">Pair:</td>
          <td id="currPair">{{ currPair }}</td>
          <td i18n="@@timestamp">Timestamp:</td>
          <td id="createdAt">{{ currQuote?.createdAt | date : "HH:mm:ss" }}</td>
        </tr>
        <tr>
          <td i18n="@@volume">Volume:</td>
          <td id="volume24">{{ currQuote?.volume24h | number : "1.2" }}</td>
        </tr>
      </tbody>
    </table>
    <div class="detailLinks">
      <span>
        <mat-radio-group
          class="radioGroup"
          [(ngModel)]="timeframe"
          (change)="changeTf()"
        >
          <mat-radio-button
            class="radioButton"
            *ngFor="let tf of utils.timeframes"
            [value]="tf"
            ><span i18n="@@radioDays"
              >{tf, plural, =1 {today} other {{{tf}} days}}</span
            ></mat-radio-button
          >
        </mat-radio-group>
        <mat-checkbox [(ngModel)]="addLinReg" (change)="changeTf()" class="radioButton" i18n="@@linReg">add Linear Reg</mat-checkbox>
        <button
          mat-button
          class="radioButton"
          (click)="showReport()"
          [ngStyle]="{
            visibility: todayQuotes.length > 0 ? 'visible' : 'hidden'
          }"
          i18n="@@showReport"
        >
          show report
        </button>
      </span>
    </div>
    <div
      #chartContainer
      class="chart-container"
      [@showChart]="chartShow | async"
    >
      <sc-line-chart [chartPoints]="chartPoints"></sc-line-chart>
    </div>
    <div>{{ todayQuotes?.length }} {{ chartShow | async }}</div>
  </div>
</div>
