<div>
	<mat-toolbar color="primary"><span i18n>Bitfinex</span> <span class="currPair">{{currPair}}</span></mat-toolbar>
	<div>
		<table>
			<tbody>
				<tr>					
					<td><span i18n>Last</span>:</td>
					<td id="last_price">{{currQuote?.last_price | number:'1.2'}}</td>
					<td><span i18n>High</span>:</td>
					<td id="high">{{currQuote?.high | number:'1.2'}}</td>
					<td><span i18n>Low</span>:</td>
					<td id="low">{{currQuote?.low | number:'1.2'}}</td>										
				</tr>
				<tr>
					<td><span i18n>Bid</span>:</td>
					<td id="bid">{{currQuote?.bid | number:'1.2'}}</td>
					<td><span i18n>Ask</span>:</td>
					<td id="ask">{{currQuote?.ask | number:'1.2'}}</td>
					<td><span i18n>Mid</span>:</td>
					<td id="mid">{{currQuote?.mid | number:'1.2'}}</td>									
				</tr>
				<tr>
					<td><span i18n>Pair</span>:</td>
					<td id="currPair">{{currPair}}</td>
					<td><span i18n>Timestamp</span>:</td>
					<td id="createdAt">{{ currQuote?.createdAt | date:'HH:mm:ss' }}</td>					
					<td><span i18n>Volume</span>:</td>
					<td id="volume">{{currQuote?.volume | number:'1.2'}}</td>
				</tr>
			</tbody>
		</table>
		<div class="detailLinks">
			<a [routerLink]="['/overview']" i18n>back</a> 
			<span>
				<mat-radio-group class="radioGroup" [(ngModel)]="timeframe" (change)="changeTf()">
					 <mat-radio-button class="radioButton" *ngFor="let tf of utils.timeframes" [value]="tf"><span i18n>{tf, plural, =1 {today} other {{{tf}} days}}</span></mat-radio-button>				 
				</mat-radio-group>
				<button mat-button class="radioButton" (click)="showReport()" [ngStyle]="{'visibility': todayQuotes.length > 0 ? 'visible' : 'hidden'}" i18n>show report</button>
			</span>		
		</div>			
    	<div #chartContainer class="chart-container">
			<ngx-charts-line-chart *ngIf="todayQuotes.length > 0" 	
			  [legend]="legend"
			  [showXAxisLabel]="showXAxisLabel"
			  [showYAxisLabel]="showYAxisLabel"
			  [xAxis]="xAxis"
			  [yAxis]="yAxis"
			  [xAxisLabel]="xAxisLabel"
			  [yAxisLabel]="yAxisLabel"
			  [timeline]="timeline"
			  [autoScale]="autoScale"
			  [results]="multi">
			</ngx-charts-line-chart>
		</div>	    			
		<div> {{todayQuotes?.length }} </div>
	</div>
</div>
