
.popup {
	display: none;
}

.lastquote:hover {
	div {		
		display: block;		    
    	width: 160px;
    	margin-top: -50px;
    	margin-left: 100px;
    	background: #FFFFFF;    				  	
    	border-radius: 6px;
    	padding: 8px 0;
    	position: absolute;
    	z-index: 1;       
		color: blue;
		border: solid 1px black;		
	}
	color: blue;
}

.example-container {
  display: flex;
  flex-direction: column; 
}

.mat-table {
  overflow: auto;  
}

.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  flex: 1 1 auto;
}