<div>
	<mat-toolbar color="primary"><span i18n>Coinbase</span> <span class="currPair">{{myCurrPair}}</span></mat-toolbar>
	<div>
		<table>
			<tbody>
				<tr *ngIf="currpair === BTCUSD">	
					<td><span i18n>Pair</span>:</td>
					<td>{{myCurrPair}}</td>
					<td><span i18n>Last Usd</span>:</td>
					<td id="usd">{{currQuote?.usd | number:'1.2'}}</td>				
					<td><span i18n>Last Eur</span>:</td>
					<td id="eur">{{currQuote?.eur | number:'1.2'}}</td>
					<td><span i18n>Last Yen</span>:</td>
					<td id="jpy">{{currQuote?.jpy | number:'1.2'}}</td>
					<td><span i18n>Last Pound</span>:</td>
					<td id="gbp">{{currQuote?.gbp | number:'1.2'}}</td>
					<td><span i18n>Timestamp</span>:</td>
					<td id="createdAt">{{currQuote?.createdAt | date:'HH:mm:ss' }}</td>
				</tr>					
				<tr *ngIf="currpair === ETHUSD">
					<td><span i18n>Pair</span>:</td>
					<td>{{myCurrPair}}</td>					
					<td><span i18n>Last Usd</span>:</td>
					<td>{{currQuote?.usd / currQuote?.eth | number:'1.2'}}</td>				
					<td><span i18n>Last Eur</span>:</td>
					<td>{{currQuote?.eur / currQuote?.eth | number:'1.2'}}</td>
					<td><span i18n>Last Yen</span>:</td>
					<td>{{currQuote?.jpy / currQuote?.eth | number:'1.2'}}</td>
					<td><span i18n>Last Pound</span>:</td>
					<td>{{currQuote?.gbp / currQuote?.eth | number:'1.2'}}</td>
					<td><span i18n>Timestamp</span>:</td>
					<td>{{currQuote?.createdAt | date:'HH:mm:ss' }}</td>
				</tr>
				<tr *ngIf="currpair === LTCUSD">
					<td><span i18n>Pair</span>:</td>
					<td>{{myCurrPair}}</td>					
					<td><span i18n>Last Usd</span>:</td>
					<td>{{currQuote?.usd / currQuote?.ltc | number:'1.2'}}</td>				
					<td><span i18n>Last Eur</span>:</td>
					<td>{{currQuote?.eur / currQuote?.ltc | number:'1.2'}}</td>
					<td><span i18n>Last Yen</span>:</td>
					<td>{{currQuote?.jpy / currQuote?.ltc | number:'1.2'}}</td>
					<td><span i18n>Last Pound</span>:</td>
					<td>{{currQuote?.gbp / currQuote?.ltc | number:'1.2'}}</td>
					<td><span i18n>Timestamp</span>:</td>
					<td id="createdAt">{{ currQuote?.createdAt | date:'HH:mm:ss' }}</td>
				</tr>
			</tbody>
		</table>	
		<div class="detailLinks">
			<a [routerLink]="['/overview']" i18n>back</a>
			<span>
				<mat-radio-group class="radioGroup" [(ngModel)]="timeframe" (change)="changeTf()">
					 <mat-radio-button class="radioButton" *ngFor="let tf of utils.timeframes" [value]="tf"><span i18n>{tf, plural, =1 {today} other {{{tf}} days}}</span></mat-radio-button>				 
				</mat-radio-group>	
			</span>
		</div>	
		<div #chartContainer class="chart-container">
			<sc-line-chart [chartPoints]="chartPoints"></sc-line-chart>
		</div>		
		<div> {{todayQuotes?.length }} </div>
	</div>
</div>
