<div>
	<mat-toolbar color="primary"><span i18n>Bitstamp</span> <span class="currPair">{{currPair}}</span></mat-toolbar>
	<div>
		<table>
			<tbody>
				<tr>					
					<td><span i18n>Last</span>:</td>
					<td id="last">{{currQuote?.last | number:'1.2'}}</td>
					<td><span i18n>High</span>:</td>
					<td id="high">{{currQuote?.high | number:'1.2'}}</td>
					<td><span i18n>Low</span>:</td>
					<td id="low">{{currQuote?.low | number:'1.2'}}</td>										
				</tr>
				<tr>
					<td><span i18n>Bid</span>:</td>
					<td id="bid">{{currQuote?.bid | number:'1.2'}}</td>
					<td><span i18n>Ask</span>:</td>
					<td id="ask">{{currQuote?.ask | number:'1.2'}}</td>
					<td><span i18n>Open</span>:</td>
					<td id="open">{{currQuote?.open | number:'1.2'}}</td>									
				</tr>
				<tr>
					<td><span i18n>Vwap</span>:</td>
					<td id="vwap">{{currQuote?.vwap | number:'1.2'}}</td>
					<td><span i18n>Pair</span>:</td>
					<td id="currPair">{{currPair}}</td>
					<td><span i18n>Timestamp</span>:</td>
					<td id="createdAt">{{currQuote?.createdAt | date:'HH:mm:ss' }}</td>
				</tr>
				<tr>
					<td><span i18n>Volume</span>:</td>
					<td id="volume">{{currQuote?.volume | number:'1.2'}}</td>
				</tr>					
			</tbody>
		</table>
		<div class="detailLinks">
			<a [routerLink]="['/overview']" i18n>back</a> 
			<span [@showChart]="chartlabels.length > 0">
				<mat-radio-group class="radioGroup" [(ngModel)]="timeframe" (change)="changeTf()">
					 <mat-radio-button class="radioButton" *ngFor="let tf of utils.timeframes" [value]="tf"><span i18n>{tf, plural, =1 {today} other {{{tf}} days}}</span></mat-radio-button>				 
				</mat-radio-group>		
				<button mat-button class="radioButton" (click)="showReport()" i18n>show report</button>	
			</span>
		</div>		
		<div *ngIf="chartlabels.length > 0" style="display: block;">
			<canvas baseChart height="200" width="720"
                [data]="chartdata"
                [labels]="chartlabels" 
                [legend]=false
                [chartType]="chartType"></canvas>
    	</div>		
		<br /> {{todayQuotes?.length }}
	</div>
</div>