<div>
	<mat-toolbar color="primary"><span i18n>Bitfinex</span> <span class="currPair">{{currPair}}</span></mat-toolbar>
	<div>
		<table>
			<tbody>
				<tr>					
					<td><span i18n>Last</span>:</td>
					<td>{{currQuote?.last_price | number:'1.2'}}</td>
					<td><span i18n>High</span>:</td>
					<td>{{currQuote?.high | number:'1.2'}}</td>
					<td><span i18n>Low</span>:</td>
					<td>{{currQuote?.low | number:'1.2'}}</td>										
				</tr>
				<tr>
					<td><span i18n>Bid</span>:</td>
					<td>{{currQuote?.bid | number:'1.2'}}</td>
					<td><span i18n>Ask</span>:</td>
					<td>{{currQuote?.ask | number:'1.2'}}</td>
					<td><span i18n>Mid</span>:</td>
					<td>{{currQuote?.mid | number:'1.2'}}</td>									
				</tr>
				<tr>
					<td><span i18n>Pair</span>:</td>
					<td>{{currPair}}</td>
					<td><span i18n>Timestamp</span>:</td>
					<td>{{currQuote?.createdAt | date:'HH:mm:ss' }}</td>
					<td><span i18n>Volume</span>:</td>
					<td>{{currQuote?.volume | number:'1.2'}}</td>
				</tr>
			</tbody>
		</table>
		<div class="detailLinks">
			<a [routerLink]="['/overview']" i18n>back</a> 
			<span [@showChart]="chartlabels.length > 0">
				<mat-radio-group class="radioGroup" [(ngModel)]="timeframe" (change)="changeTf()">
					 <mat-radio-button class="radioButton" *ngFor="let tf of utils.timeframes" [value]="tf"><span i18n>{tf, plural, =1 {today} other {{{tf}} days}}</span></mat-radio-button>				 
				</mat-radio-group>
			</span>		
		</div>
		<div *ngIf="chartlabels.length > 0" style="display: block;">		
			<canvas baseChart height="200" width="720"
                [data]="chartdata"
                [labels]="chartlabels" 
                [legend]=false
                [chartType]="chartType"
                [@showChart]="chartlabels.length > 0"></canvas>
    	</div>		    			
		<br /> {{todayQuotes?.length }}
	</div>
</div>
