<div>
	<mat-toolbar color="primary">
	   <span i18n>Statistics</span> 
	   <span class="example-fill-remaining-space"></span>
	   <span class="back-button"><button mat-button (click)="back()" i18n>Back</button></span>
	</mat-toolbar>
	<div>
	   <mat-tab-group>
	      <mat-tab label="Bitstamp">
	         <app-statistic-details coinBase="coinBase.Bitstamp"></app-statistic-details>
	      </mat-tab>
	      <mat-tab label="Bitfinex">
	         <app-statistic-details coinBase="coinBase.Bitfinex"></app-statistic-details>
	      </mat-tab>
	   </mat-tab-group>	
	</div>
</div>
