webAppName: angularandspring
dbName: mongodb
webImageName: angular2guy/angularandspring
webImageVersion: latest
dbImageName: mongo
dbImageVersion: 3.6
volumeClaimName: mongo-pv-claim
persistentVolumeName: task-pv-volume

secret:
  name: app-env-secret

envApp:
  normal: 
    MONGODB_HOST: mongodb
  secret:
    JWTTOKEN_SECRET: secret-key1234567890abcdefghijklmnopqrstuvwxyz